* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #05070f;
  color: white;
  font-family: Arial, sans-serif;
}

/* LOGIN PAGE */
.login-page {
  height: 100vh;
  background: #020617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.login-page input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.login-page button {
  padding: 12px;
  background: linear-gradient(90deg,#ef4444,#3b82f6);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#loginError {
  margin-top: 10px;
  color: red;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.logo span { color: #ef4444; }

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  background: linear-gradient(90deg,#ef4444,#3b82f6);
  -webkit-background-clip: text;
  color: transparent;
}

/* SECTIONS */
.section {
  padding: 90px 20px;
  text-align: center;
}

.about-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid #3b82f6;
}

.about-text {
  max-width: 500px;
  text-align: left;
}

.journey-section { background: #0b1220; }
.skills-section { background: #020617; }
.dark { background: black; }

/* PROJECTS */
.projects {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: #0b1220;
  padding: 25px;
  width: 260px;
  border-radius: 12px;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills span {
  padding: 10px 18px;
  background: linear-gradient(90deg,#ef4444,#3b82f6);
  border-radius: 20px;
}

/* SOCIAL */
.social-links {
  font-size: 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* FOOTER */
footer {
  background: black;
  padding: 20px;
  text-align: center;
}
